*{
    margin: 0px;
    padding: 0px;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    padding: 20px;
}
.menus{
    display: flex;
    list-style: none;
    gap: 20px;
    
}
.banner-container{
    height: 100vh;
    background-image: url("./asset/image/background.jpg"),linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    text-align: center;
}
.digital{
    color: red;
}
.banner-title{
    color: white;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 10px;
}
.banner-desc{
    color: white;
    padding: 10px;
    width: 50%;
    margin: auto;
    margin-top: 5px;
}
.btn{
    padding: 12px 20px;
    border: none;
}
.bg-red{
    background-color: red;
}